@model  PersonDemoWeb.Models.PersonViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">
        App Name: @Environment.GetEnvironmentVariable("WEBSITE_HOSTNAME")<br />
        Server Name: @Model.ServerName<br />
        Version 1.1
    </p>
</div>

<table>
    <thead>
        <tr>
            <th width="100">First Name</th>
            <th width="100">Last Name</th>
            <th>Favorite Sport</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model.People)
        {
            <tr>
                <td>@p.FirstName</td>
                <td>@p.LastName</td>
                <td>@p.Sport</td>
            </tr>
        }
    </tbody>
</table>
<hr />
@using (Html.BeginForm("Add", "Home"))
{
    <fieldset>
        <section>
            @Html.Label("First Name")
            @Html.TextBoxFor(m => m.NewPerson.FirstName)
        </section>
        <section>
            @Html.Label("Last Name")
            @Html.TextBoxFor(m => m.NewPerson.LastName)
        </section>
        <section>
            @Html.Label("Favorite Sport")
            @Html.TextBoxFor(m => m.NewPerson.Sport)
        </section>


    </fieldset>
    <input type="submit" value="Submit" />
}
